<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Best Performing Students{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
        <a class="navbar-brand ms-4" style="font-weight: bold" href="/">Student Recognition</a>
        <div class="me-1 ms-auto">
            <a href="{% url 'create_student' %}" class="btn btn-sm btn-outline-secondary">Add Student</a>
            <a href="{% url 'create-achievement' %}" class="btn btn-sm btn-outline-secondary">Add Achievement</a>
            <a href="{% url 'achievement-list' %}" class="btn btn-sm btn-outline-secondary">Achievements</a>
            <a href="/admin/" class="btn btn-sm btn-outline-primary ms-4">Login</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Main content will be inserted here -->
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
